{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style>
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }




</style>


<div class="center">
       <form class="text-center border border-light p-5" action="goldpayement" method="POST">

        {% csrf_token %}
        <a href="#"
           title="">
            <img src="/static/images/gold.png"
                 style="width: 30%; height: 30%"
                 alt=""
                 class="lazy" style="">
        </a>
        <p class="h3 mb-3">
            <i class="fas fa-award"></i> Applied For Gold Membership!!
        </p>
        <p class="mb-3">
            <strong>You have requested for the payment of Rs.36999/-</strong>
        </p>

        <div class="container" style="width: 100%; background-color: #40e3ac; border-radius:5px; padding: 30px;">
            {% crispy form%}
        </div>
        <!-- RAZORPAY INTEGRATION HERE -->

        {% if payment %}
        <form action="{% url 'payment_status' %}" method="POST">
            {% csrf_token %}
            <script src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key='rzp_live_Ov8XlxQ15IJQBh'
                    data-amount="{{ payment.amount }}"
                    data-currency="{{payment.currency}}"
                    data-order_id="{{payment.id}}"
                    data-buttontext="Pay with Razorpay  "
                    data-name="Goimex Global India"
                    data-description="GOLD MEMBERSHIP"
                    data-image="/static/images/gold.png"
                    data-prefill.name={{user.profile.organization}}
                    data-prefill.email={{user.email}}
                    data-theme.color="#F37254">
            </script>
            <input type="hidden" custom="HIDDEN ELEMENT" name="hidden">
        </form>
        {% endif %}
    </form>
</div>

{% endblock %}